.card{
    height: 100% !important;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em!important;
    transition: transform 0.3s ease;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.product-img{
    max-width: 60% !important;
    height: auto;
    max-height: 60% !important;
}

.beforePrecio{
    width: 100%;
    text-decoration: line-through;
    color: red;
}