<header id="header" class="header header-transparent navbar-fixed">
    <div class="container">
        <div class="Row d-flex">
            <!--Logo-->
            <div class="col-lg-1 col-3 align-self-center">
                <a routerLink="home" class="navbar-brand logo">
                    <img src="../../../../assets/icons/logo.png" alt="My Shop" width="60px">
                </a>
            </div>
            <!--Barra de busqueda y botones-->
            <div class="col-lg-9 searchAndButtonsContainer justify-content-start d-none d-sm-block">
                <form class="d-flex searchForm" role="search">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Buscar en My Shop" aria-label="Search" style="border-color: rgb(87, 85, 85);">
                        <button class="btn btn-outline-success" type="submit" style="color: rgb(87, 85, 85); border-color: rgb(87, 85, 85);">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <div class="buttons d-flex px-3">
                    <nav class="navbar">
                        <ul class="navbar-nav main-menu d-flex flex-row">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="true">Categorías</button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let category of categories"><a class="dropdown-item" [queryParams]="{id: category.categoriaId}" routerLink="c" >{{category.categoria}}</a></li>
                                </ul>
                            </div>
                            <!--li><a  class="nav-link mx-3" routerLink="c" [queryParams]="{ category: '123' }">Carrito</a></li-->
                            <li><a  class="nav-link mx-3" routerLink="best-seller">Lo mas vendido</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--Icono de carrito y perfil-->
            <div class="col-lg-2 col-9 d-lg-block text-lg-right">
                <ul class="navbar-nav main-menu d-flex flex-row justify-content-end">
                    <li class="menu-item menu-item-type-post_type nav-item" style="margin-inline: 2em !important;">
                        <a routerLink="cart" class="navbar" title="Ir a mi carrito">
                            <i class="bi-cart4 nav-link" style="font-size: 1.8rem; color: black;"></i>
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type nav-item">
                        <a [routerLink]="isUserLogin? 'userProfile':'login'" class="navbar" [title]="isUserLogin ? 'Ir a mi cuenta': 'Iniciar sesión'">
                            <i class="bi-person-circle nav-link" style="font-size: 1.8rem; color: black;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>