<header id="header" class="header header-transparent navbar-fixed">
    <div class="container">
        <div class="Row d-flex">
            <!--Logo-->
            <div class="col-lg-1 col-3 align-self-center">
                <a routerLink="home" class="navbar-brand logo">
                    <img src="../../../../assets/icons/logo.png" alt="My Shop" width="60px">
                </a>
            </div>
            <!--Barra de busqueda y botones-->
            <div class="col-lg-9 searchAndButtonsContainer justify-content-start d-none d-lg-block">
                <form class="d-flex searchForm" role="search">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Buscar en My Shop" aria-label="Search" style="border-color: rgb(87, 85, 85);">
                        <button class="btn btn-outline-success" type="submit" style="color: rgb(87, 85, 85); border-color: rgb(87, 85, 85);">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>

                <div class="buttons d-flex px-3">
                    <nav class="navbar">
                        <ul class="navbar-nav main-menu d-flex flex-row">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="true">Categorías</button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let category of categories"><a class="dropdown-item" [queryParams]="{id: category.categoriaId}" routerLink="c" >{{category.categoria}}</a></li>
                                </ul>
                            </div>
                            <!--li><a  class="nav-link mx-3" routerLink="c" [queryParams]="{ category: '123' }">Carrito</a></li-->
                            <!--li><a  class="nav-link mx-3" routerLink="best-seller">Lo mas vendido</a></li-->
                        </ul>
                    </nav>
                </div>
            </div>
            <!--Icono de carrito y perfil-->
            <div class="col-lg-2 col-9 d-lg-block text-lg-right">
                <ul class="navbar-nav main-menu d-flex flex-row justify-content-end">
                    <li class="menu-item menu-item-type-post_type nav-item" style="margin-inline: 2em !important;">
                        <a [routerLink]="isUserLogin? 'cart':'login'" class="navbar" title="Ir a mi carrito">
                            <i class="bi-cart4 nav-link" style="font-size: 1.8rem; color: black;"></i>
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type nav-item">
                        <button class="navbar button-profile" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            <i class="bi-person-circle nav-link" style="font-size: 1.8rem; color: black;"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!--Sidebar-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header mt-2">
        <button type="button" class="m-0 btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h3 class="px-3 offcanvas-title" id="offcanvasRightLabel">Perfil</h3>
    </div>

    <div class="offcanvas-body p-0">
        <div class="d-flex flex-row justify-content-center mb-10">
            <i class="bi-person-circle" style="font-size: 5rem;"></i>
        </div>
        
        <ul class="navbar-nav main-menu d-flex">
            <li *ngIf="!isUserLogin" class="py-2 menu-item menu-item-type-post_type nav-item li-sidebar btn" routerLink="login" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi-person-square px-2"></i>
                <a>Iniciar sesión</a>
            </li>
            <li *ngIf="isUserLogin" class="py-2 menu-item menu-item-type-post_type nav-item li-sidebar btn" routerLink="my-profile" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi-person px-2"></i>
                <a>Mi cuenta</a>
            </li>
            <li *ngIf="isUserLogin" class="py-2 menu-item menu-item-type-post_type nav-item li-sidebar btn" routerLink="my-shopping" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi-bag-check px-2"></i>
                <a>Mis compras</a>
            </li>
            <li *ngIf="isUserLogin && !isUserSeller" class="py-2 menu-item menu-item-type-post_type nav-item li-sidebar btn" routerLink="become-seller" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi-person-video2 px-2"></i>
                <a>Hacerme vendedor</a>
            </li>
            <li *ngIf="isUserLogin && isUserSeller" class="py-2 menu-item menu-item-type-post_type nav-item li-sidebar btn" routerLink="manage-products" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi-person-gear px-2"></i>
                <a>Aministrar productos</a>
            </li>
            <li *ngIf="isUserLogin && isUserSeller" class="py-2 menu-item menu-item-type-post_type nav-item li-sidebar btn" routerLink="sales-history" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi-box-seam px-2"></i>
                <a>Historial de ventas</a>
            </li>
            <li *ngIf="isUserLogin" class="py-2 menu-item menu-item-type-post_type nav-item li-sidebar btn" (click)="closeSession()" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi-door-open px-2"></i>
                <a>Cerrar sesión</a>
            </li>
        </ul>
    </div>
  </div>