<div class="container p-3">
    <div class="img-section d-flex flex-column align-items-center">
        <img class="main-image" src="../../../assets/img/imagen.png" alt="">

        <div class="mb-3 d-flex flex-column align-items-center">
            <label for="formFileMultiple" class="form-label">Agregar imagen</label>
            <input class="form-control" type="file" id="formFileMultiple" (change)="handleFileInput($event)" multiple>
        </div>
    </div>
    <div class="data-section">
        <p>a</p>
    </div>
</div>